<!DOCTYPE html>
<html>
  <head>
    <title>Instagareth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= link_to "Home", root_path%> 
    <%if !logged_in? %>
      <%= link_to "Sign in", '/users'%> / <%= link_to "Sign up", new_user_path %>
    <%else%>
      <%= link_to "New Post", new_post_path%> 
      <%= link_to "Update Profile", edit_user_path(current_user.id)%>
      <%= link_to "Sign out", '/logout'%>
    <%end%>
    <%= yield %>
  </body>
</html>
